* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-image: url(/assest/bggoc.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: 100%;
}
.sidebar-top {
    position: fixed;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.3);
}
.sidebar-left {
    margin-left: 15px;
}
.logos {
    position: fixed;
}
.element-left {
    margin-left: 30px;
    margin-top: 7px;
    position: fixed;
}
#logo {
    width: 30px;
    height: 30px;
}
#file {
    margin-left: 10px;
}
#edit {
    margin-left: 10px;
}
#window {
    margin-left: 10px;
}
#help {
    margin-left: 10px;
}
#file:hover {
    background-color: rgb(243, 243, 243);
}
#edit:hover {
    background-color: rgb(243, 243, 243);
}
#window:hover {
    background-color: rgb(243, 243, 243);
}
#help:hover {
    background-color: rgb(243, 243, 243);
}
.sidebar-center {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 7px;
}
#time {
    display: flex;
}
.sidebar-right {
    position: fixed;
    margin-top: 7px;
}
#date {
    display: flex;
    position: fixed;
    right: 60px;
}
.wifi {
    position: fixed;
    right: 37px;
}
#wifi {
    font-size: 12px;
}
.volume {
    position: fixed;
    right: 10px;
}
#volume {
    font-size: 12px;
}
.taskbar-btn {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
#taskbar-open {
    width: 20px;
}
.content-taskbar {
    width: 400px;
    height: 350px;
    position: fixed;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.2);
}
#icon-search {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
#search-app {
    width: 200px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
}
.search-in-app {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}
.icon-search {
    position: fixed;
    right: 100px;
    top: 12px;
}
.setting-app {
    width: 50px;
    height: 50px;
    margin-top: 50px;
    position: fixed;
}
#logo-app-setting {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}
#name-app-setting {
    position: fixed;
    margin-left: -13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.file-app {
    width: 50px;
    height: 50px;
    margin-top: 50px;
    position: fixed;
}
#logo-app-file {
    width: 50px;
    height: 50px;
    margin-left: 90px;
}
#name-app-file {
    margin-left: 103px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#taskbar-open:focus + .content-taskbar {
    display: block;
}
.content-appsetting {
    border: 1px solid black;
    border-radius: 15px;
    width: 700px;
    height: 450px;
    margin-top: -200px;
    position: fixed;
    left:  50%;
    transform: translateX(-50%);
    top: 30px;
}
.header-app-setting {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 1x solid white;
    height: 30px;
    background-color: rgba(56, 51, 51, 0.3);
    color: white;
}
#header-appsetting {
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
}
.close-zoom-turnoff-appsetting {
    position: fixed;
    right: 10px;
}
#close-appsetting {
    margin-right: 5px;
}
#zoom-appsetting {
    margin-right: 5px;
}
.element-appsetting {
    color: white;
    position: fixed;
    background-color: rgb(40, 40, 40, 0.4);
    width: 700px;
    height:420px;
}
#infor {
    position: fixed;
    left: 10px;
    font-size: 20px;
    top: 35px;
}
#wifisetting {
    position: fixed;
    top: 80px;
    font-size: 20px;
    left: 14px;
}
#bluetoothsetting {
    position: fixed;
    top: 130px;
    font-size: 20px;
    left: 15px;
}
#colorsetting {
    position: fixed;
    top: 180px;
    font-size: 20px;
    left: 16px;
}
